*.iml
.gradle
/local.properties
/.idea/*
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/codeStyles/Project.xml
/app/src/main/java/ru/meseen/dev/compost/ui/activities/deep/DeepActivity.kt
